<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f9896d">  <td>23/10/11 12:21:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.loginApp()[pri:0, instance:com.Trello.testscript.TestClasss@4802796d]">&gt;&gt;loginApp</td> 
<td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f9896d">  <td>23/10/11 12:21:21</td>   <td>-4593</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.openBrowser()[pri:0, instance:com.Trello.testscript.TestClasss@4802796d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="b7fcb4">  <td>23/10/11 12:21:30</td>   <td>5169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestClasss.testMethod()[pri:0, instance:com.Trello.testscript.TestClasss@4802796d]">testMethod</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
